*{
   font-family: Open Sans, sans-serif;
}
.header{
  float:right;

}
ul{
  text-decoration: none;
  color: black;
  margin-top:2px;
}

.le{
  list-style-type: none;
  color: black;
  display: inline-block;

  margin-left: 5px;
  margin-right: 15px;


}
.le a{
  text-decoration: none;
  color: black;
  font-size: 13px;
}
button{
  color: white;
  border: 1px solid #4285f4;
  font-weight: bold;
  outline: none;
  background: -webkit-linear-gradient(top,#4387fd,#4683ec);
  padding: 5px 12px 5px 12px;
  border-radius: 2px;
}
